<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>todos</title>
  <link rel="stylesheet" href="/css/todos.css">
  <script src="./js/todos.js"></script>
</head>
<body>
  _userName_
  <div class="">
    <div id="header">
      <label id="message"></label>
      <a href="/logout">logout</a>
    </div>
    <p id ='contents'></p>
    <div id="addTaskDiv">
    </div>
    <div id="addItem">
      <input type="text" name="" id="item" required>
      <button type="button" onclick="addTask()">add task</button>
      <button type="button"><a href="/newTodo">CREATE TODO</a></button>
    </div>
  </div>
</body>
</html>
